body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}

.text-primary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #181818;
}

.primary-button {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0px;
    font-size: 20;
    font-weight: 700;
    padding: 18px 35px;
}
.secondary-button {
    border-radius: 5px;
    background: white;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    font-size: 20;
    font-weight: 700;
    padding: 18px 35px;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .banner-dp{
    width: 500px;
}